<a href="https://colab.research.google.com/github/Rain1618/Global-Health-Hack/blob/main/Data_prep_(raina).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

raw = pd.read_csv("/content/data (1).csv")
raw.head()

,"Countries, territories and areas",2019,2018,2017,2016,2015
0,Afghanistan,6.0 [3.4-9.9],5.9 [3.4-9.8],6.0 [3.4-9.9],6.0 [3.5-9.9],6.0 [3.5-9.9]
1,Albania,3.7 [2.1-5.7],3.9 [2.2-6.0],4.1 [2.3-6.3],4.2 [2.3-6.3],4.2 [2.3-6.4]
2,Algeria,2.6 [1.4-4.4],2.6 [1.4-4.4],2.5 [1.4-4.4],2.6 [1.4-4.5],2.7 [1.5-4.7]
3,Angola,12.6 [7.7-19.4],12.4 [7.6-19.0],12.4 [7.6-18.9],12.9 [8.0-19.6],13.3 [8.3-20.1]
4,Antigua and Barbuda,0.3 [0.2-0.5],0.3 [0.2-0.5],0.0 [0.0-0.0],0.5 [0.3-0.7],0.4 [0.3-0.6]

In [25]:
def clean_suicide(raw):
  df = pd.melt(raw, id_vars=['Countries, territories and areas'], var_name='Year', value_name='Suicide rate')
  df['Country'] = df['Countries, territories and areas'] + ', ' + df['Year']


  # drop the original 'Country' and 'Year' columns
  df = df.drop(['Countries, territories and areas', 'Year'], axis=1)

  # rearrange the columns as needed
  df = df[['Country', 'Suicide rate']]

  #Clean up suicide rates
  df['Suicide rate'] = df['Suicide rate'].apply(lambda x: x.split(' ')[0])
  return df

df = clean_suicide(raw)
df.head()

                     Country Suicide rate
0          Afghanistan, 2019          6.0
1              Albania, 2019          3.7
2              Algeria, 2019          2.6
3               Angola, 2019         12.6
4  Antigua and Barbuda, 2019          0.3

In [42]:
#Merge all happiness 

def merge_happiness(df, file, year):
  happy = pd.read_csv(file)
  happy = happy.drop(['Happiness Rank', 'Region', 'Dystopia Residual'], axis = 1)

  happy['Country'] = happy['Country'] + ',' + f' {year}'
  
  merged_df = pd.merge(df, happy, on='Country')
  merged_df.head()
  return merged_df

for year in range(2015, 2020):
  happy = merge_happiness(df, f"/content/{year}.csv", year)

happy.head()

,Country,Suicide rate,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,"Afghanistan, 2019",6.0,3.203,0.350,0.517,0.361,0.000,0.025,0.158
1,"Albania, 2019",3.7,4.719,0.947,0.848,0.874,0.383,0.027,0.178
2,"Algeria, 2019",2.6,5.211,1.002,1.160,0.785,0.086,0.114,0.073
3,"Argentina, 2019",8.1,6.086,1.092,1.432,0.881,0.471,0.050,0.066
4,"Armenia, 2019",2.7,4.559,0.850,1.055,0.815,0.283,0.064,0.095